* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.b { 
    border: 1px solid black;
}

body {
    font-size: 16pt;
    background-color: #fafafa;
}

#hero-image {
    background-image: url("../img/hero_bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.hero-text {
    color: #272727;
    #title {
        padding-top: 7%;
        padding-left: 3%;
    }

    p {
        margin-top: 22%;
        margin-right: 3%;
        margin-left: 20%;
        text-align: right;
        font-style: italic;
    }

    button {
        background-color: black;
        color: #FFF;
        padding: 1%;
        border: 1px solid black;
        box-shadow: 4px 3px 10px 2px #888;
        margin-top: 2%;
        margin-left: 50%;
        cursor: pointer;
    }
}

#main {
    position: relative;
    padding-top: 3%;
}

#main::before {
    content:"";
    background-image: url("../img/bg_img.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

.tribute {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tributeDiv {
        position: relative;
        padding: 15px;
        border: 1px solid #8ca1a8;
        border-radius: 4px;
        margin-bottom: 2%;        
    }

    .tributeDiv:after,
    .tributeDiv:before {
        right: 100%;
        top: 35px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .tributeDiv:after {
        border-color: transparent;
        border-right-color: #a8a4a4;
        border-width: 8px;
        margin-top: -8px;
    }

    .tributeDiv:before {
        border-color: transparent;
        border-right-color: #CAD0D2;
        border-width: 9px;
        margin-top: -9px;
    }

    .tributeDiv__content {
        color: #57727C;
        font-size: 1.5ch;
        line-height: 1.3;
      }

}

.tribute-image {
    flex: 0 1 auto;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50%;
    
}

#image {
    position: relative;
    border-radius: 1%;
    box-shadow: -1px 10px 24px 0px rgb(58, 59, 61);
}

#img-caption {
    margin-top: 2%;
    color: #57727C;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.book {
    display: flex;
}

.book__container {
    position: relative;
    width: 50%;
}

.book__image {
    display: block;
    width: 100%;
    height: auto;
}

.book__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
