* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16pt;
    background-color: #fafafa;
}

#hero-image {
    background-image: url("../img/hero_bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

.hero-text {
    color: #272727;
    #title {
        padding-top: 7%;
        padding-left: 3%;
    }

    p {
        margin-top: 22%;
        margin-right: 3%;
        margin-left: 20%;
        text-align: right;
        font-style: italic;
    }

    button {
        background-color: black;
        color: #FFF;
        padding: 1%;
        border: 1px solid black;
        box-shadow: 4px 3px 10px 2px #888;
        margin-top: 2%;
        margin-left: 50%;
        cursor: pointer;
    }
}

#main {
    position: relative;
    display: flex;
}
#main::before {
    content:"";
    background-image: url("../img/bg_img.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}

#tribute-info {
    text-align: left;
    line-height: 1.7rem;

    p {
        position: relative;
        margin-bottom: 2%;
    }
}